.container {
  height: 80rem;
}

.square {
  width: 70rem;
  height: 70rem;

  background-color: #212121;
  border: solid 1.5rem #fff;
  position: relative;
}

.detailLeft {
  top: 2rem;
  left: 2rem;
  position: absolute;
  z-index: 1000;
  color: #fff;
  text-decoration: none;
}

.detailLeft:hover {
  color: var(--main-yellow);

  transition: all 300ms ease-in-out;
}

.detailLeft > h2 {
  font-size: 6.5rem;
}

.detailRight {
  right: 2rem;
  bottom: 2rem;
  position: absolute;
  z-index: 1000;
  color: #fff;
  text-decoration: none;
}

.detailRight:hover {
  color: var(--main-yellow);

  transition: all 300ms ease-in-out;
}

.detailRight > h2 {
  font-size: 7rem;
  text-align: right;
}

@media only screen and (max-width: 414px) {
  .detailLeft > h2 {
    font-size: 5rem;
    width: 70%;
  }

  .detailRight > h2 {
    font-size: 5rem;
  }
}
