.container {
  height: 80rem;
}

.square {
  width: 70rem;
  height: 70rem;

  background-color: #212121;
  border: solid 1.5rem #fff;
  position: relative;
}

.triangleLeft {
  position: absolute;
  width: 69rem;
  height: 69rem;
  top: 1rem;
  left: 1rem;

  background: #212121;
  clip-path: polygon(0 0, 0 96%, 96% 0);
}

.triangleRight {
  position: absolute;
  width: 69rem;
  height: 69rem;

  background-color: #212121;
  clip-path: polygon(100% 100%, 4% 100%, 100% 4%);
}

.detailLeft {
  top: 2rem;
  left: 2rem;
  position: absolute;
  z-index: 1000;
  color: #fff;
  text-decoration: none;

  width: 50rem;
}

.detailLeft:hover {
  color: var(--main-yellow);

  transition: all 300ms ease-in-out;
}

.detailLeft > h2 {
  font-size: 6.5rem;
}

.detailRight {
  right: 2rem;
  bottom: 2rem;
  position: absolute;
  z-index: 1000;
  color: #fff;
  text-decoration: none;

  width: 50rem;
}

.detailRight:hover {
  color: var(--main-yellow);

  transition: all 300ms ease-in-out;
}

.detailRight > h2 {
  font-size: 7rem;
  text-align: right;
}
