.leftSide {
  position: relative;
}

.content {
  position: absolute;

  top: 17rem;
  left: 26.5rem;
}

@media only screen and (max-width: 414px) {
  .content {
    position: absolute;

    top: 9rem;
    left: 15rem;
  }
}

.title {
  font-family: var(--okuda-font);
  font-size: 9.3rem;

  margin-bottom: 5rem;
}

@media only screen and (max-width: 414px) {
  .title {
    font-size: 8rem;
    margin-bottom: 5rem;
  }
}

.details {
  margin-bottom: 5rem;

  position: relative;

  color: #fff;
  text-decoration: none;
}

.details:hover {
  color: var(--main-yellow);

  transition: all 300ms ease-in-out;
}

.certificate {
  position: absolute;
  top: -2rem;
  left: 14rem;

  font-size: 3.5rem;
}

.skillset {
  margin-right: 5rem;
}
