// Required
@import "../node_modules/bootstrap/scss/bootstrap";

// Default variable overrides
$body-bg: #212121;
$body-color: #fff;
$enable-grid-classes: false;
$enable-cssgrid: true;

@font-face {
  font-family: "CYGUN";
  src: url("../public/fonts/CYGUN-Regular.ttf") format("truetype");
}

html > body {
  background-color: #212121;
  color: #fff;
}

h2 {
  font-family: "CYGUN";
}

span {
  font-size: 1.6rem;
}

$font-size-base: 1.6rem;

@import "../node_modules/bootstrap/scss/root";
