.container {
  position: relative;
}

.libraryCats {
  color: #212121;
  height: 63rem;
  background-color: var(--main-yellow);
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.libraryContainer {
  width: 15rem;
  height: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.square {
  width: 15rem;
  height: 15rem;

  border: rgba(255, 255, 255, 100) solid 0.1rem;
}

.extended {
  width: 15rem;
  height: 55rem;

  border: rgba(255, 255, 255, 0.5) solid 0.1rem;
}

.yellow_title_numbers{
  font-size:25rem !important;
}
.yellow_title_labels{
  font-size:7rem;
  hyphens: manual;
}

#marc21{
  width: 20rem;
  transform: translate(1rem, -17rem) rotate(90deg);
}

#lr{
  font-size:7rem;
  transform: translate(-4rem, -4.5rem) rotate(90deg);
  width: 30rem;
  font-family: "Okuda", cursive;
}