.container {
  position: relative;
}

.libraryCats {
  color: #212121;
  text-decoration: none;
  height: 63rem;
  background-color: var(--main-yellow);
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (max-width: 414px) {
  .libraryCats {
    height: 45rem;
  }
}

.libraryContainer {
  width: 15rem;
  height: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.square {
  position: relative;

  width: 15rem;
  height: 15rem;

  border: rgba(255, 255, 255, 100) solid 0.1rem;
}

.extended {
  position: relative;
  width: 15rem;
  height: 55rem;

  border: rgba(255, 255, 255, 0.5) solid 0.1rem;
}

.yellow_title_numbers {
  font-size: 25rem !important;
}

.yellow_title_labels {
  font-size: 7rem;
  hyphens: auto;
}

.metadata {
  position: absolute;
  top: 32rem;
  transform: rotate(0.25turn) translate(50%, -100%);
  font-family: var(--okuda-font);
  font-size: 1.8rem;

  color: white;
}

.libraryRelated {
  position: absolute;
  top: 30rem;
  width: 20.9rem;
  transform: rotate(0.25turn) translate(50%, 100%);
  font-family: var(--okuda-font);
  font-size: 5rem;
}

.date {
  position: absolute;
  top: 9rem;

  margin-left: 1rem;
  font-family: var(--okuda-font);
  opacity: 50%;
}

.detailedDate {
  position: absolute;
  top: 12rem;

  margin-left: 1rem;
  font-family: var(--okuda-font);
  font-size: 2.7rem;
}
.yellow_title_labels {
  font-size: 5.5rem;
  hyphens: manual;
}

.h2underline {
  width: 50%;
  border-bottom: 2rem solid;
  margin-bottom: 10px;
  transform: translate(40%, -5rem);
  border-radius: 10px;
  max-width: 220px;
}

.folder_line {
  background-image: url("/imgs/folder-line.svg");
  background-repeat: no-repeat;
}

.folder_three_lines {
  width: 101%;
  border-bottom: 2rem solid;
  margin-bottom: 10px;
  transform: translate(8%, 5rem);
}
